
.navbar-brand {
  color: #FFFFF0 !important;
}

.nav-link:hover {
  color: #FFA07A !important;
}

.nav-link active {
  color: #777 !important;
}

.nav-link {
  float: right !important;
}

.h5 {
  color: #777 !important;
}
