<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/static/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <a class="fw-light" id="user_name" href="/login">Log In</a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg" style="background-color: #6B8E23;">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: #FFFFF0;" href="/monitor">CalmCat</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="navbar-nav">
                <a class="nav-link" style="color: #FFFFF0;" href="/monitor">Monitor</a>
                <a class="nav-link" style="color: #FFFFF0;" href="/irrigation">Irrigation</a>
<!--                <a class="nav-link" style="color: #FFFFF0;" href="/irrigation_old">Irrigation(old)</a>-->
                <a class="nav-link" style="color: #FFFFF0;" href="/security">Security</a>
              </div>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-row mb-3">
      <div class="p-3">
        <span class="fw-bold">Now:&nbsp;&nbsp;&nbsp; </span> <span id="weather_now">Now</span>
      </div>
      <div class="p-3">
        <span class="fw-bold">Today:&nbsp;&nbsp;&nbsp; </span> <span id="weather_today">Today</span>
      </div>
      <div class="p-3">
        <span class="fw-bold">Tomorrow:&nbsp;&nbsp;&nbsp; </span> <span id="weather_tomorrow">Tomorrow</span>
      </div>
    </div>

    <div class="container-fluid body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - CalmCat Sweet Home Solution</p>
        </footer>
    </div>
    <script>
      async function check_token(link, id) {
        let response = await fetch(link);
        let response_js = await response.json();
        switch(link) {
          case '/check_token':
            let user = response_js.message;
            if (user == 'invalid token') {
              inner_text(id, 'Log In', '/login/');
            } else {
              let user_id = "/user/" + response_js.user_id + "/";
              inner_text(id, user, user_id);
            }
          case '/get_weather':
            let weather = response_js.message;
            inner_text(id + 'now', weather[0], false);
            inner_text(id + 'today', weather[1], false);
            inner_text(id + 'tomorrow', weather[2], false);
        }
      }

      async function wait_off() {
        let off_wait = new Promise(function(resolve, reject) {
          resolve(1);
        });
      }

      check_token('/check_token', 'user_name');
      wait_off();
      check_token('/get_weather', 'weather_');

      function inner_text(id, text, href) {
        document.getElementById(id).innerText = text;
        if (href) {
          document.getElementById(id).href = href;
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>