{% extends "base.html" %}

{% block content %}

<h6 class="display-6" id="head">{{ head }}</h6>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="{{ active_class[0] }}" id="nav-watering-tab" data-bs-toggle="tab" data-bs-target="#nav-watering" type="button" role="tab" aria-controls="nav-watering" aria-selected="true">Watering</button>
    <button class="nav-link" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="false">Description</button>
    <button class="{{ active_class[2] }}" id="nav-valves-tab" data-bs-toggle="tab" data-bs-target="#nav-valves" type="button" role="tab" aria-controls="nav-valves" aria-selected="false">Valves</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="{{ active_class[1] }}" id="nav-watering" role="tabpanel" aria-labelledby="nav-watering-tab" tabindex="0">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>Last finish:</td>
          <td>5 aug 17:22</td>
        </tr>
        <tr>
          <td>Watering volume:</td>
          <td>250 l</td>
        </tr>
        <tr>
          <td>Precipitation:</td>
          <td>10 mm</td>
        </tr>
        <tr>
          <td>Total watering:</td>
          <td>50 mm</td>
        </tr>
        <tr>
          <td>Soil moisture:</td>
          <td>20 %</td>
        </tr>
        <tr>
          <td>Next start:</td>
          <td>6 aug 17:15</td>
        </tr>
        <tr>
          <td>Set duration:</td>
          <td>05:37</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab" tabindex="0">
    <table class="table table-borderless">
      <tbody>
      {% for item in description.items() %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="{{ active_class[3] }}" id="nav-valves" role="tabpanel" aria-labelledby="nav-valves-tab" tabindex="0">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">Head</th>
          <th scope="col">Model</th>
          <th scope="col">Speed, l/min</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
      {% for unit in valves %}
        <tr>
          <td>{{ unit['head'] }}</td>
          <td>{{ unit['model'] }}</td>
          <td id="jet{{ unit['relay'] }}">{{ unit['jet'] }}</td>
          <td>
            <button id="relay{{ unit['relay'] }}"
                    onclick="postData('/valve_manual', { relay: {{ unit['relay'] }}})"
                    class="{{ unit['button'][1] }}"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">{{ unit['button'][0] }}</button>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div id="valves_numbers" style="display: none;">{{ valves_str }}</div>
<div id="active_valve" style="display: none;">{{ active_valve }}</div>
<div id="relay_status" style="display: none;">{{ rs }}</div>
<div id="start_time" style="display: none;">{{ start_time }}</div>

<script>
  let rs = document.getElementById("relay_status").innerHTML;
  let start_time = document.getElementById("start_time").innerHTML;
  let active_valve = document.getElementById("active_valve").innerHTML;
  rs = rs.slice(0, 4);
  let on_off = false;
  if (rs != "ffff") {
    watering(rs, active_valve);
  }


  async function watering(r_status, rl) {
    if (r_status != "ffff") {
      on_off = true;
      if (start_time != 0) {
        start = start_time;
      } else {
        start = (new Date - 0);
      }
      let inter = setInterval(async function() {
        let rs1 = await getStatus("/relay_status");
        rs1 = rs1.slice(0, 4);
        watering_time = new Date - start;
        button_class_text(rs1, watering_time);
        if (rs1[rl-1] == "f") {
          on_off = false;
          start_time = 0;
          clearInterval(inter);
        }
      }, 3000)
    }
  }


  const postData = async (url = '', data = {}) => {
    relay = Object.values(data);
    start_time = 0;
    const response = await fetch(url, {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(data)
    });
    let valve_status = await response.json();
    button_class_text(valve_status.fn, 0);
    let rs2 = valve_status.fn;
    start_time = valve_status.start_time_;
    rs2 = rs2.slice(0, 4);
    wait_off();
    watering(rs2, relay);
  return;
  }


  async function wait_off() {
    let off_wait = new Promise(function(resolve, reject) {
      resolve(1);
    });
  }


  async function getStatus(url1) {
    let response1 = await fetch(url1);
    let valve_status1 = await response1.json();
    return valve_status1.fn;
  }


  function button_class_text(text, w_time) {
    let valves_numbers = document.getElementById("valves_numbers").innerHTML;
    let vn_list = valves_numbers.split(';');
    vn_list.pop();
    for (let vn of vn_list) {
      let valve_id = "relay" + vn
      if (text[vn-1] == "f") {
        document.getElementById(valve_id).className = 'btn btn-success';
        document.getElementById(valve_id).innerText = 'Off';
      } else if (text[vn-1] == "n") {
        document.getElementById(valve_id).className = 'btn btn-danger';
        let jet_id = "jet" + vn;
        let watering_jet = document.getElementById(jet_id).innerHTML;
        let litres = w_time / 60000 * watering_jet;
        litres = litres.toFixed(1)
        document.getElementById(valve_id).innerText = litres;
      } else {
        document.getElementById(valve_id).className = 'btn btn-secondary disabled';
        document.getElementById(valve_id).innerText = 'Unknown';
      }
    }
  }

</script>

{% endblock %}
