{% extends "base.html" %}

{% block content %}

<div class="container-fluid text-left">
  <div class="row">
    <div class="col" style="padding: 0px;">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="display-6">Status</td>
          </tr>
          <tr>
            <td>Valves</td>
            <td class="text-end">{{ valves }}</td>
          </tr>
          <tr>
            <td>Battery</td>
            <td class="text-end">No info</td>
          </tr>
          <tr>
            <td>Garden lights</td>
            <td class="text-end">Off</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col" style="padding: 0px;">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="display-6">Log</td>
          </tr>
          <tr>
            <td>15:17</td>
            <td> Area #1. Watering&nbsp;stopped</td>
          </tr>
          <tr>
            <td>15:01</td>
            <td>Area #1. Watering started</td>
          </tr>
          <tr>
            <td>12:32</td>
            <td>No connection error. Solved</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>

{% endblock %}
