{% extends "base.html" %}

{% block content %}

  <div class="container-fluid text-left">
    <div class="row justify-content-start">
      <p class="display-6">Status</p>
      <p>Valves:&nbsp;&nbsp;&nbsp;{{ valves }}</p>
      <p>Battery:&nbsp;&nbsp;&nbsp;No info</p>
      <p>Garden lights:&nbsp;&nbsp;&nbsp;Off</p>
    </div>
    <div class="row justify-content-start" style="padding: 0px;">
        <p class="display-6">Log</p>
        {% for log in layout %}
        <p>{{ log['log_time'] }}&nbsp;&nbsp;&nbsp;{{ log['log_content'] }}</p>
        {% endfor %}
        <a href='/logs/' class="link-dark">More logs</a>
    </div>
  </div>

{% endblock %}
